*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-flow: column;
}


/* ----------------- HEADER ----------------- */

header{
    padding: .8em 3em;
    display: flex;
    align-items: center;
    background-color: rgb(252, 252, 252);
}

header div:first-child{
    display: flex;
    align-items: center;
    gap: 5em;
}

header img{
    height: 100px;
}

nav ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

nav ul li a{
    padding: .5em 1.8em;
    font-size: 1.4em;
    border-radius: 15px;
}

nav ul li a:hover{
    background-color: #dadada;
}

#userCard{
    position: absolute;
    right: 3em;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .5em;
}

#currentUser{
    display: flex;
    gap: .5em;
}

#disconnectButton{
    padding: .7em;
    background-color: red;
    border-radius: 8px;
}

#disconnectButton:hover{
    background-color: rgb(231, 0, 0);
}

#connectButton{
    padding: .7em;
    background-color: rgb(0, 98, 226);
    color: white;
    border-radius: 8px;
}

#connectButton a{
    color: white;
}

#connectButton:hover{
    background-color: rgb(0, 74, 171);
}


/* ----------------- POSTS ----------------- */

#sectionPosts{
    padding: 0 10% 3em 10%;
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    flex: 1;
}

.postArticle{
    width: 23%;
    padding: 2em;
    background-color: rgb(162, 162, 162);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.nameAndDate{
    font-style: italic;
}

#sectionPosts img{
    height: 150px;
    width: 150px;
    align-self: center;
}

#buttonShowFull{
    padding: .8em;
    border: none;
    border-radius: 8px;
}

#pagination{
    padding: 1em 8em;
    display: flex;
    justify-content: center;
    gap: 2em;
}

#previous, #next{
    width: 8em;
    padding: .5em 1em;
}


/* ----------------- FULL POST & COMMENTS ----------------- */

#mainFullPost{
    padding: 3em;
    display: flex;
    flex-flow: column;
    gap: 2em;
    flex: 1;
}

#fullPost{
    display: flex;
    gap: 3em;
}

#fullPost img{
    height: 250px;
}

#fullPost div{
    display: flex;
    flex-flow: column;
    align-items: start;
    gap: .8em;
}

#commentsPart{
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.fullPostArticle{
    padding: 1em;
    background-color: rgb(159, 159, 159);
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.fullPostArticle p:first-child, #fullPost div p:first-child{
    font-style: italic;
}


/* ----------------- LOGIN ----------------- */

#loginPage{
    margin: 2em 0;
    padding: 3em 0;
    flex: 1;
}

#loginPage section{
    margin: 0 auto 3em auto;
    padding: 3em 6.8em;
    width: 28em;
    background: rgba(171, 109, 109, 0.9);
    border-radius: 8px;
    box-shadow: 5px 5px 8px rgb(63, 39, 39);
}

#form{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2em;
}

#form h2{
    color: white;
}

#userField{
    display: flex;
    align-items: center;
}

#userField i{
    height: 2em;
    padding: .5em ;
    background-color: rgb(183, 170, 170);
    border-radius: 10px 0 0 10px;
}

#userField:hover i{
    color: rgb(255, 255, 255);;
}

#userField input{
    height: 2.4em;
    width: 15em;
    padding: .2em .7em;
    border: none;
    background-color: rgb(183, 170, 170);
    color: rgb(59, 59, 59);
    border-radius: 0 10px 10px 0;
}

#userField input::placeholder{
    color: white;
    opacity: 1;
    font-style: italic;
}

#passwordField{
    display: flex;
    align-items: center;
}

#passwordField i{
    height: 2em;
    padding: .5em ;
    background-color: rgb(183, 170, 170);
    border-radius: 10px 0 0 10px;
}

#passwordField:hover i{
    color: rgb(255, 255, 255);;
}

#passwordField input{
    height: 2.4em;
    width: 15em;
    padding: .2em .7em;
    border: none;
    background-color: rgb(183, 170, 170);
    color: rgb(59, 59, 59);
    border-radius: 0 10px 10px 0;
}

#passwordField input::placeholder{
    color: white;
    opacity: 1;
    font-style: italic;
}

#remember{
    align-self: start;
    color: white;
    display: flex;
    gap: .5em;
    cursor: pointer;
}

#submitButton{
    padding: .7em 3em;
    background-color: #5d0c18;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

#submitButton:hover{
    background-color: #4e0814;
}

#forgettenPassword{
    color: white;
}

#forgettenPassword:hover{
    text-decoration: underline;
}

#createAccount{
    color: white;
    text-align: center;
}

#createAccount a{
    color: white;
    font-weight: bold;
}

#createAccount a:hover{
    text-decoration: underline;
}

#incorrectLogin{
    width: 20em;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-color: rgb(151, 0, 0);
    color: white;
    border-radius: 8px;
}


/* ----------------- ADMIN ----------------- */

#mainAdmin{
    padding: 2em;
    flex: 1;
}

#adminTable{
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

#adminTable th, #adminTable td{
    padding: .8em;
}

#adminTable tr:nth-child(even){
    background-color: #f2f2f2;
}

#adminTable tr:nth-child(odd){
    background-color: #dadada;
}

#adminTable th{
    background-color: #04AA6D;
    color: white;
}

.editButton{
    padding: .7em;
    border: none;
    border-radius: 10px;
    background: rgb(39, 39, 255);
    color: white;
}

.deleteButton{
    padding: .7em;
    border: none;
    border-radius: 10px;
    background: rgb(255, 53, 53);
    color: white;
}

.editButton:hover{
    background: rgb(25, 25, 172);
}

.deleteButton:hover{
    background: rgb(156, 31, 31);
}

#mainAdmin h1{
    text-align: center;
}

#adminEditForm{
    width: 80%;
    margin: 2em auto 0 auto;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

#adminEditForm input, #adminEditForm textarea{
    width: 100%;
    padding: .1em .3em;
}

#adminEditForm button{
    width: fit-content;
    padding: .8em;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
}

#adminEditForm button:hover{
    background: rgb(0, 85, 0);
}

#updateSuccess{
    width: fit-content;
    margin: 0 auto 1em auto;
    padding: .8em;
    background-color: green;
    color: white;
}

#emptyFields{
    width: fit-content;
    margin: 0 auto 1em auto;
    padding: .8em;
    background-color: red;
    color: white;
}


/* ----------------- WELCOME PAGE ----------------- */

#welcomeUser{
    width: 20em;
    margin: 5em auto;
    padding: 2em 1em;
    text-align: center;
    background-color: rgb(0, 163, 0);
    color: white;
    border-radius: 10px;
}


/* ----------------- CREATE ACCOUNT ----------------- */

/* h1{
    margin-top: 3em;
    text-align: center;
} */

#formCreateAccount{
    margin: 3em auto;
    padding: 2em;
    width: 25em;
    display: table;
    border-collapse: separate;
    border-spacing: .5em;
    background-color: red;
    border-radius: 8px;
}

#formCreateAccount div{
    margin-bottom: .5em;
    display: table-row;
}

#formCreateAccount div label{
    display: table-cell;
    width: 6em;
}

#formCreateAccount div input, #formCreateAccount div select{
    display: table-cell;
}


/* ----------------- FOOTER ----------------- */

footer{
    padding: 3em 5em;
    display: flex;
    justify-content: space-between;
    background: rgb(55, 55, 55);
}

#footerLeft{
    display: flex;
    gap: 7em;
}

.footerLists{
    display: flex;
    flex-flow: column;
    gap: .5em;
}

.footerLists ul{
    display: flex;
    flex-flow: column;
    gap: .2em;
}

.footerLists strong{
    color: white;
}

.footerLists li{
    color: rgb(195, 195, 195);
}

footer ul{
    list-style-type: none;
}

#footerRight ul{
    display: flex;
    gap: 1em;
}

footer img{
    height: 40px;
}